p {
    color: green;
}

body{
    background-color: #E9D5DA;
}

  
  #titlebar {
    background-color: #827397;
    border: 1px solid black;
    width: 100%;
   
  }
  
  #titlebar:hover{
    background-color: black;
  }
  
  #titlebar h1:first-line{
    color: white;
  }
  
  .novaDiv {
    display: flex;
    flex-direction: row;
   
  }
  
  .novaDiv > h2, .novaDiv > h3{
    border: 1px solid black;
  }
  
  #blocks {
    width: 100%;
    background-color: #827397;
    border-radius: 2%;
    border: 0.1rem solid black; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  .square-block {
    height: 5%;
    width: 5%;
    background-color: #363062;
  }

